@media screen and (max-width: 1275px) {
	.top-bg{
		p{
			font-size: 300px;
			bottom: -20px;
		}
	}
}
@media screen and (max-width: 1275px) {
	.top-bg{
		p{
			font-size: 200px;
			bottom: 20px;
		}
	}
}
@media screen and (max-width: 680px) {
	.top-bg{
		p{
			font-size: 100px;
			bottom: 50%;
		}
	}
}