@import "vars";
@import "fonts";

html{
	box-sizing: border-box;
}
*, *:after, *:before{
	box-sizing: inherit;
}
*{
	margin: 0;
	padding: 0;
}
body{
	font-size: 18px;
	font-family: $main-font;
	background: #F0F0F0;
}
.top-bg{
	background-image: url(../image/bg-top.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 760px;
	position: relative;
	p{
		position: absolute;
		bottom: -180px;
		font-size: 400px;
		font-family: $stayRed;
		text-align: center;
		margin: 0 auto;
		width: 100%;
		color: #ffffff;
	}
}
.text-wrapper{
	width: 100%;
	max-width: 768px;
	margin: 0 auto;
	padding: 0 20px;
	.text-info{
		margin-top: 100px;
		margin-bottom: 100px;
		p{
			margin-bottom: 20px;
			line-height: 26px;
			opacity: 0.8;
		}
		h2{
			font-size: 26px;
			margin-bottom: 20px;
			font-weight: bold;
		}
	}
}
.bottom-bg{
	background-image: url(../image/work.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 760px;
	position: relative;
	margin-bottom: 50px;
}
.text-border-info{
	text-align: center;
	border-right: 1px solid #707070;
	border-left: 1px solid #707070;
	padding: 25px 10px;
	h2{
		width: 100%;
		max-width: 460px;
		margin: 0 auto 10px auto;
		font-weight: bold
	}
	p{
		width: 100%;
		max-width: 570px;
		margin: 0 auto 50px auto;
		opacity: 0.8;
	}
}
.bottom-form{
	margin-top: 150px;
	margin-bottom: 125px;
	form{
		h2{
			font-weight: normal;
			font-size: 18px;
			margin-bottom: 50px;
			opacity: 0.8;
		}
		input{
			width: 100%;
			display: block;
			border:none;
			background: #ffffff;
			height: 47px;
			margin-bottom: 20px;
			padding: 0 0 0 20px;
			font-size: 13px;
		}
		textarea{
			padding: 20px 0 0 20px;
			resize:none;
			width: 100%;
			border:none;
			height: 185px;
			font-size: 13px;
			font-family: $main-font;
		}
	}
}
.form-button{
	width: 100%;
	border:none;
	font-weight: bold;
	background: #1A1818;
	border:1px solid #1A1818;
	color: #ffffff;
	height: 47px;
	transition: all 0.5s;
	cursor: pointer;
	margin-top: 20px;
	font-size: 18px;
	outline: none;
	&:hover{
		background: none;
		color: #1A1818;
	}
}

@import "media";