
.company-desc p{
	color: rgba(0, 0, 0, 0.9);
	line-height: 29px;
	font-size: 16px;
	margin: 15px 0;
}
.company-desc h2{
	font-size: 20px;
	line-height: 29px;
	color: rgba(0, 0, 0, 0.9);
	font-family:PT_Sans-Web-Bold;
}
.advantage-company h2{
	font-size: 20px;
	line-height: 29px;
	font-family:PT_Sans-Web-Bold;
	color: rgba(0, 0, 0, 0.9);
}
.advantage-company ul li{
	list-style-type: none;
	position: relative;
	margin: 10px 0 0 10px;
	font-size: 16px;
	line-height: 29px;
	color: rgba(0, 0, 0, 0.9);
}
/*.advantage-company ul li::first-letter{
	margin: 0 0 0 15px;
}*/
.advantage-company ul li:before{
	content: '';
	position: absolute;
	width: 8px;
	height: 8px;
	border:1px solid #9C1111;
	top: 12px;
	left: -15px;
}
.advantage-company ul{
	margin: 0 0 60px 0;
}